# Require dfc-devops review any thing under /Resources, and dfc-digitalliveservice review everything else
*    @SkillsFundingAgency/dfc-digitalliveservice
/Resources/    @SkillsFundingAgency/dfc-devops